.btn {
  background-color: #0097A7;
}

a {
  color: #0097A7;
}

.splash-header {
  height: 66vh;
  position: relative;
  background-color: #0097A7;
  background-image: url('../img/server-nasa.jpg');
  background-position: 50% 22.5%;
  background-size: cover;
  color: white;
  margin-top: -10px;
  margin-bottom: 50px;
}

.splash-header span {
  position: absolute;
  bottom: 25px;
  left: 50px;
  font-size: 50px;
}

.vert-spacer {
  height: 100px;
}

#code-window {
  background-color: black;
  color: green;
  font-family: Courier, monospace;
  font-weight: 500;
  font-size: 1.25rem;
  height: 500px;
  overflow: scroll;
}

footer {
  margin: 50px 0 25px 0;
  text-align: center;
}
