.splash-header {
  height: 66vh;
  position: relative;
  background-color: #0097A7;
  color: white;
  margin-top: -10px;
  margin-bottom: 50px;
}

.splash-header span {
  position: absolute;
  bottom: 25px;
  left: 50px;
  font-size: 50px;
}

.vert-spacer {
  height: 100px;
}

footer {
  margin: 50px 0 25px 0;
  text-align: center;
}
