body {
  background: #000;
}
#machineScreen {
  position: absolute;
  width: 780px;
  position: fixed;
  bottom: 0;
}
header {
  font-size: 0.95em;
  padding: 5px;
  font-family: monospace;
}
header a {
  color: #29ADFF;
  text-decoration: none;
}
