body {
  background: #000;
}
.background {
  font-size:4px;
  font-family:'Courier', monospace;
  position:fixed;
  right:0px;
  top:0;
  z-index:-1;
}
#machineScreen {
  position: absolute;
  width: 780px;
  position: fixed;
  bottom: 0;
}
header {
  font-size: 0.95em;
  padding: 5px;
  font-family: monospace;
}
header a {
  color: #29ADFF;
  text-decoration: none;
}
